<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Beauty Canyon</title>
</head>
<body>
<header>
  <h1>Beauty Canyon Images</h1>
</header>
<main>
  <picture>
    <source srcset="./images/canyon-1.webp" type="image/webp">
    <source srcset="./images/canyon-1.jpg" type="image/jpg">
    <img src="./images/canyon-1.jpg" alt="">
  </picture>
  <picture>
    <source srcset="./images/canyon-2.webp" type="image/webp">
    <source srcset="./images/canyon-2.jpg" type="image/jpg">
    <img src="./images/canyon-2.jpg" alt="">
  </picture>
  <picture>
    <source srcset="./images/canyon-3.webp" type="image/webp">
    <source srcset="./images/canyon-3.jpg" type="image/jpg">
    <img src="./images/canyon-3.jpg" alt="">
  </picture>
  <picture>
    <source srcset="./images/canyon-4.webp" type="image/webp">
    <source srcset="./images/canyon-4.jpg" type="image/jpg">
    <img src="./images/canyon-4.jpg" alt="">
  </picture>
</main>
</body>
</html>
